<!-- 关于 -->


<ion-view view-title="关于">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">关于</h1>
	</div>

	<ion-content style="background-color:#aaaaaa;text-align:center;">
		<div style="margin-top: 85px;">
			<h1>{{appinfo.AppName}}</h3>
			<h3>{{appinfo.VersionNumber}}</h3>
			<h3>{{appinfo.Describe}}</h3>
			<h3>作者：{{appinfo.author}}</h3>
			<h3>支持：<a href="">{{appinfo.email}}</a></h3>
		</div>
		
	</ion-content>
</ion-view>