<!-- 管理员主页 -->


<ion-view view-title="管理员主页">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		</ion-nav-buttons>
		<!-- <ion-nav-buttons side="right">
			<a class="button button-icon icon ion-ios-list-outline" href="#"></a>
		</ion-nav-buttons> -->
	</ion-nav-bar>

	<ion-content>

		<a class="button button-outlint button-block button-positive" href="#/setting">设置</a>
		<a class="button button-outlint button-block button-positive" href="#/notification">通知</a>
		<a class="button button-outlint button-block button-positive" href="#/personalinfo">个人信息</a>
		<a class="button button-outlint button-block button-positive" href="#/releasetask">发布任务</a>
		<a class="button button-outlint button-block button-positive" href="#/commentatorlist">花名册</a>
		<a class="button button-outlint button-block button-positive" href="#/tasklist">历史任务</a>
		<a class="button button-outlint button-block button-positive">数据报表</a>
		<a class="button button-outlint button-block button-positive" href="#/createrole">新建角色</a>
		<a class="button button-outlint button-block button-positive" href="#/commentator">我的网评</a>
		<a class="button button-outlint button-block button-positive">权限管理</a>

		
	</ion-content>
</ion-view>
