<!-- 修改密码 -->


<ion-view view-title="修改密码">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">修改密码</h1>
	</div>

	<ion-content style="margin-top: 35px;">
		<div class="list" style="margin-top: 35px;">
			<label class="item item-input item-stacked-label">
				<span class="input-label">旧密码</span>
				<input type="text">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">新密码</span>
				<input type="text">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">确认密码</span>
				<input type="text">
			</label>
			<button class="button button-block button-positive">下一步</button>
		</div>
		
	</ion-content>
</ion-view>