<!-- 网评员个人任务完成情况统计 -->


<ion-view view-title="网评员信息">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">网评员信息</h1>
	</div>

	<ion-content style="margin-top: 43px;">

		<div class="list card">

			<div class="item item-avatar">
				<img src="img/ben.png">
    			<h2>网评员A_ID</h2>
    			<p>积分：50</p>
			</div>

			<div class="item item-body">
				<p><b>姓名：</b><span>张某某</span></p>
				<p><b>性别：</b><span>男</span></p>
				<p><b>手机号码：</b><span>13171763855</span></p>
				<p><b>单位：</b><span>宣传部</span></p>
				<p><b>QQ：</b><span>1356814589</span></p>
				<p><b>微信：</b><span>ixtiwhg</span></p>

				<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-ios-list-outline positive"></i>任务列表</a>
				<p>
					<a href="#" class="subdued item-icon-left">任务列表</a>
				</p>
			</div>

		</div>

	</ion-content>
</ion-view>