<!-- 网评员列表 -->


<ion-view view-title="网评员列表" style="background:#E8E8E8">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">网评员列表</h1>
	</div>
	<ion-content style="margin-top: 50px;">

		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="搜索">
			</label>
			<button class="button button-outline button-stable icon-left ion-ios-eye-outline" ng-click="filter()">
				筛选
			</button>
		</div>
		
		<div class="list" style="margin-top: 10px;">
			<a class="item item-icon-left item-icon-right" href="#grouplist">
				<i class="icon ion-android-people positive"></i>
				群组
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>

		<div class="list">
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员1</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员2</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员3</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员4</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员5</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员6</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员1</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员2</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员3</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员4</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员5</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-person positive"></i>网评员6</a>
		</div>

	</ion-content>
</ion-view>