<!-- 反馈 -->


<ion-view view-title="反馈">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">反馈</h1>
	</div>

	<ion-content style="margin-top: 55px;">
		<textarea autofocus rows="10" style="width:90%;font-size:20px;margin-right:auto;margin-left:auto;padding:10px;border:solid;border-width:1px;border-color:black;border-radius: 3%;"></textarea>

		<button ng-click="onClickBackward()" class="button button-outlint button-block button-positive" style="width:90%;margin-right:auto;margin-left:auto;">提交</button>
		
	</ion-content>
</ion-view>