<!-- 群组列表 -->


<ion-view view-title="群组列表">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">群组列表</h1>
		<button class="button button-icon icon ion-ios-plus-empty"></button>
	</div>

	<ion-content style="margin-top: 50px;">

		<div class="list">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="搜索">
			</label>
		</div>

		<div class="list">
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组1</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组2</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组3</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组4</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组5</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组6</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组1</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组2</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组3</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组4</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组5</a>
			<a class="item item-icon-left" href="#com_taskperformance"><i class="icon ion-android-people positive"></i>群组6</a>
		</div>
		
	</ion-content>
</ion-view>