<!-- 登录 -->


<ion-view view-title="登录">

	<ion-content scroll = "false" class="logincontent">
		<div class="logincard">
			<h3>引航者</h2>

			<!-- <img class="avatar" src="img/ben.png"> -->

			<div class="list card">
				<label class="item item-input">
					<span class="input-label">用户名</span>
					<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">密码</span>
					<input type="password">
				</label>
			</div>
			
			<a class="button button-outlint button-block button-positive" href="#/admin">登录</a>

			<button class="button button-clear button-assertive">更多</button>
		</div>
	</ion-content>

</ion-view>
<style type="text/css">
	.logincontent{
		background-image:url(img/loginbg.JPG);
	}
	.avatar{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		max-width: 60px;
		max-height: 60px;
	}
	.logincard{
		text-align:center;
		margin-top:20px;
	}
	.logincard a{
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}
	.logincard .card{
		margin:20px 10px;
	}
</style>