<!-- 通知 -->


<ion-view view-title="通知">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title" ng-click="back2top()">通知</h1>
	</div>

	<ion-content style="margin-top: 43px;" scroll = "true" scrollbar-y = "false" padding="false" delegate-handle="notification">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="搜索">
			</label>
			<button class="button button-outline button-stable icon-left ion-ios-eye-outline" ng-click="filter()">
				筛选
			</button>
		</div>
		<div class="list">

			<a class="item item-avatar" href="#">
				<img src="img/ben.png">
      			<h2>Venkman</h2>
      			<p>Back off, man. I'm a scientist.</p>
				<span class="badge badge-assertive">3</span>
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/ben.png">
      			<h2>Venkman</h2>
      			<p>Back off, man. I'm a scientist.</p>
				<span class="badge badge-assertive">3</span>
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/ben.png">
      			<h2>Venkman</h2>
      			<p>Back off, man. I'm a scientist.</p>
				<span class="badge badge-assertive">3</span>
			</a>

		</div>
	</ion-content>
</ion-view>