<!-- 发布任务 -->


<ion-view view-title="发布任务">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		</ion-nav-buttons>
		<!-- <ion-nav-buttons side="right">
			<a class="button button-icon icon ion-ios-list-outline" href="#"></a>
		</ion-nav-buttons> -->
	</ion-nav-bar>

	<ion-content>

		<button class="button button-outlint button-block button-positive">123</button>
		
	</ion-content>
</ion-view>