<!-- 通知设置 -->


<ion-view view-title="通知设置">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">通知设置</h1>
	</div>

	<ion-content style="margin-top: 85px;">

		<ul class="list">

			<li class="item item-toggle">
				声音
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">
				震动
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

		</ul>
		
	</ion-content>
</ion-view>

<style type="text/css">
	

</style>