<!-- 设置 -->


<ion-view view-title="设置">
	<div class="bar bar-header bar-positive">
		<button class="button button-icon ion-ios-arrow-left" ng-click="onClickBackward()">返回</button>
		<h1 class="title">设置</h1>
	</div>

	<ion-content scroll="false" class="content">
		<ul class="list">
			<li class="item">
				<a class="button button-outlint button-block button-positive" href="#/setnotification">通知</a>
			</li>
			<li class="item">
				<a class="button button-outlint button-block button-positive" href="#/security">安全</a>
			</li>
			<li class="item">
				<a class="button button-outlint button-block button-positive" href="#/feedback">意见反馈</a>
			</li>
			<li class="item">
				<a class="button button-outlint button-block button-positive" href="#/about">关于</a>
			</li>
			<li class="item">
				<a class="button button-outlint button-block button-assertive" href="#/login">退出登录</a>
			</li>
		</ul>
	</ion-content>
</ion-view>


<style type="text/css">
	.content{
		margin-top: 67px;
	}
	.content li.item{
		padding: 0px 20px;
	}

</style>